<!DOCTYPE html>
<html>
  <head>
    <title>Book a Class - <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Book a Class</h1>
    <p>Welcome, <%= username %>!</p>
    
    <form action='/classes/booked' method="POST">
      <p>Select a Class:</p>
      <select name="class_id" required>
        <option value="">-- Choose a class --</option>
        <% availableClasses.forEach(function(classItem) { %>
          <option value="<%= classItem.id %>">
            <%= classItem.title %> - <%= classItem.category %> (<%= classItem.level %>) - 
            <%= new Date(classItem.class_datetime).toLocaleString() %> at <%= classItem.location %>
          </option>
        <% }); %>
      </select>
      <br><br>
      <input type="submit" value="Book This Class">
    </form>
    
    <p><a href="/">Back to Home</a></p>
    <p><a href="/classes">View Available Classes</a></p>
  </body>
</html>