<!DOCTYPE html>
<html>
  <head>
    <title>Class List - <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Available Classes</h1>
    <table border="1">
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Level</th>
        <th>Location</th>
        <th>Date & Time</th>
        <th>Capacity</th>
        
      </tr>
      <% availableClasses.forEach(function(classItem) { %>    <!-- loop through classes and display them in a table -->
        <tr>
          <td><%= classItem.title %></td>
          <td><%= classItem.category %></td>
          <td><%= classItem.level %></td>
          <td><%= classItem.location %></td>
          <td><%= classItem.class_datetime %></td>
          <td><%= classItem.capacity %></td>
          
        </tr>
      <% }); %>
    </table>
    <p><a href="/">Back to Home</a></p>
    <p><a href="/classes/booking">Book a Class</a></p>
  </body>
</html>